/* Font references */

@font-face {
  font-family: Lexend;
  src: url(/assets/fonts/Lexend-Regular.woff2) format("woff2"),
    url(/assets/fonts/Lexend-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lexend;
  src: url(assets/fonts/Lexend-SemiBold.woff2) format("woff2"),
    url(assets/fonts/Lexend-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Variables */

body {
  --width-container: 73.75rem;
  --spacing-smaller: calc(var(--spacing) * 0.5);
  --spacing-small: calc(var(--spacing) * 0.75);
  --spacing: 1rem;
  --spacing-large: calc(var(--spacing) * 1.5);
  --spacing-largest: calc(var(--spacing) * 2.5);
  --spacing-mega: calc(var(--spacing) * 3);
  --spacing-padding-horizontal: var(--spacing);
  --line-height: 1.5;
  --vertical-rhythm-spacing: calc(var(--line-height) * 1rem);
  --color-white: #fff;
  --color-black: #0b0c0c;
  --color-focus: #fd0;
  --color-accent: #e40037;
  --color-blue: #004c94;
  --background-blue: var(--color-blue);
  --color-text: var(--color-black);
  --transition-time: 0.3s;
  --grid-column-spacing: var(--spacing);
  --color-section-header-bg: var(--color-accent);
  --header-logo-width: 10rem;
  --section-spacing-vertical-pre-footer: var(--spacing-largest);
  --section-spacing-vertical-footer: var(--spacing);
  --color-pre-footer-link: var(--color-white);
  --color-pre-footer-text: var(--color-white);
  --font-primary: "Lexend", Arial, Helvetica, sans-serif;
  --font-size: clamp(1rem, 0.85rem + 0.5vw, 1.125rem);
  --color-section-header-bg: var(--color-white);
  --line-height: 1.5;
  --header-logo-width: 100%;
}

/* the only bit applied to the whole body - you might need to change this */

body {
  margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin-top: 0;
}

/* Accessibility */

header .visually-hidden,
footer .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

header a:hover,
footer a:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
header a:not(.toolbara):focus,
footer a:not(.toolbara):focus {
  text-decoration: none;
  color: var(--color-black);
  outline: 3px solid transparent;
  background-color: var(--color-focus);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
}

header,
footer {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

footer nav ul li a {
  display: block;
}

header a,
footer a {
  display: inline-block;
  transition: var(--transition-time);
}

footer ul ul {
  margin-bottom: 0;
}
.lgd-container {
  max-width: var(--width-container);
  margin-right: auto;
  margin-left: auto;
}
.padding-horizontal {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

.lgd-row {
  display: flex;
  flex-wrap: wrap;
}
.lgd-row > * {
  margin-right: calc(var(--grid-column-spacing) / 2);
  margin-left: calc(var(--grid-column-spacing) / 2);
}

.lgd-row__full,
.lgd-row__one-third,
.lgd-row__two-thirds {
  width: calc(100% - var(--grid-column-spacing));
}
@media screen and (min-width: 48rem) {
  .lgd-row__one-third,
  .lgd-row__two-thirds {
    width: calc(50% - var(--grid-column-spacing));
  }
}
@media screen and (min-width: 60rem) {
  .lgd-row__one-third {
    width: calc((100% / 3) - var(--grid-column-spacing));
  }
  .lgd-row__two-thirds {
    width: calc((100% / 3 * 2) - var(--grid-column-spacing));
  }
}

/* Header */

.lgd-header {
  background-color: var(--color-section-header-bg);
  padding: clamp(0.5rem, 2.2vw, 0.7rem) 0;
}
.lgd-header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}
.lgd-header .lgd-region--header {
  margin: 0 auto 0 0;
}
.lgd-header__nav--primary {
  display: block;
  width: 100%;
  margin-right: var(--spacing-smaller);
  margin-left: var(--spacing-smaller);
}

@media screen and (min-width: 48rem) {
  .lgd-header__nav--primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
}

.branding__item--logo {
  width: var(--header-logo-width);
}
.branding__item--logo a {
  display: block;
  transition: none;
}
.branding__item--logo a:focus {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: var(--color-white);
  background-color: transparent;
  box-shadow: none;
}

@media only screen and (min-width: 1024px) {
  .lgd-header__nav--primary {
    width: auto;
  }
}
.lgd-header .branding {
  width: clamp(280px, 25vw, 300px);
  padding: var(--spacing-smaller);
}
.lgd-header__inner > :first-child {
  flex-basis: 300px;
  flex-grow: 9999px;
}
.lgd-header__inner > :last-child {
  flex-basis: 400px;
  flex-grow: 1;
}

.branding .branding__item--logo a:focus {
  box-shadow: 0 0 0 3px var(--color-black);
  outline: 0;
  background: 0 0;
}
.branding__logo img {
  width: 100%;
  padding-block: clamp(0.45rem, 1.7vw, 0.7rem);
  padding-inline-end: clamp(0.45rem, 1.7vw, 0.7rem);
}
@media only screen and (max-width: 767px) {
  .lgd-row__one-third {
    margin-bottom: var(--spacing-large);
  }
}

/* Feedback form container */

.website-feedback-form-container {
  background-color: var(--background-blue);
  margin-top: var(--spacing-mega);
}
.website-feedback-form-container > div {
  color: var(--color-white);
  max-width: var(--width-container);
  margin: 0 auto;
  padding: var(--spacing);
}
.website-feedback-form-container > div p {
  margin-bottom: 0;
}
.website-feedback-form-container > div p strong {
  display: inline-block;
  margin-right: var(--spacing-small);
}
.website-feedback-form-container > div p a {
  color: var(--color-white);
}
.website-feedback-form-container > div p a:focus {
  color: var(--color-black);
}

/* Footer */

.lgd-footer {
  margin-top: clamp(1rem, 10vw, var(--section-spacing-vertical-footer));
}
.lgd-footer__pre-footer {
  padding-top: clamp(1rem, 10vw, var(--section-spacing-vertical-pre-footer));
  padding-bottom: clamp(1rem, 10vw, var(--section-spacing-vertical-pre-footer));
  color: var(--color-pre-footer-text);
  background-color: var(--color-black);
}
.lgd-footer__pre-footer a {
  color: var(--color-pre-footer-link);
}

footer .menu {
  padding-left: 0;
}
footer .menu li {
  display: inline-block;
  list-style-type: none;
}
footer .menu--footer li {
  margin-right: 1em;
  margin-bottom: 1.625rem;
}
footer .menu--social-media {
  display: flex;
  justify-content: flex-end;
}
footer .menu--social-media .social-link {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 40%;
  text-indent: -999rem;
  direction: ltr;
  min-height: 3.5rem;
  width: 3rem;
  display: inline-block;
  border-bottom: 2px solid var(--color-black);
}
footer .menu--social-media .social-link:focus,
footer .menu--social-media .social-link:hover {
  border-bottom: 2px solid;
}

/* Footer social media image icons */

footer .menu--social-media .facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='36' viewBox='0 0 19 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(/themes/custom/essex/css/%2523clip0_140_4774)'%3E%3Cpath d='M17.71 19.9L18.71 13.5H12.57V9.35C12.57 7.59 13.43 5.89 16.18 5.89H18.97V0.440002C17.3167 0.168246 15.6453 0.0211624 13.97 0C8.90997 0 5.60999 3.07 5.60999 8.62V13.5H-0.0200195V19.9H5.60999V35.38H12.53V19.9H17.71Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4774'%3E%3Crect width='18.95' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .facebook:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='36' viewBox='0 0 19 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(/themes/custom/essex/css/%2523clip0_140_4774)'%3E%3Cpath d='M17.71 19.9L18.71 13.5H12.57V9.35C12.57 7.59 13.43 5.89 16.18 5.89H18.97V0.440002C17.3167 0.168246 15.6453 0.0211624 13.97 0C8.90997 0 5.60999 3.07 5.60999 8.62V13.5H-0.0200195V19.9H5.60999V35.38H12.53V19.9H17.71Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4774'%3E%3Crect width='18.95' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .twitter {
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='36' viewBox='0 0 43 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(/themes/custom/essex/css/%2523clip0_140_4771)'%3E%3Cpath d='M42.81 4.23984C41.4193 4.83835 39.9573 5.25512 38.46 5.47985C39.16 5.35985 40.19 4.08984 40.6 3.57984C41.2443 2.8037 41.7332 1.9108 42.04 0.949849C42.04 0.879849 42.11 0.779848 42.04 0.729848C42.0042 0.712208 41.9648 0.703023 41.925 0.703023C41.8851 0.703023 41.8457 0.712208 41.81 0.729848C40.1842 1.61027 38.4538 2.28223 36.66 2.72985C36.5965 2.74772 36.5295 2.74783 36.466 2.7302C36.4025 2.71257 36.3451 2.67786 36.3 2.62984C36.1628 2.46446 36.0123 2.31062 35.85 2.16985C35.105 1.53289 34.2648 1.01661 33.36 0.639836C32.1459 0.149235 30.8363 -0.0593258 29.5299 0.029851C28.2601 0.10539 27.0202 0.446035 25.89 1.02985C24.7611 1.62347 23.7643 2.43992 22.96 3.42984C22.124 4.45205 21.5261 5.64768 21.21 6.92984C20.9405 8.1457 20.91 9.40233 21.12 10.6298C21.12 10.8398 21.12 10.8698 20.94 10.8398C13.86 9.83985 7.98996 7.24985 3.22996 1.83985C3.01996 1.60985 2.90997 1.60985 2.73997 1.83985C0.659968 4.96985 1.67 9.98985 4.27 12.4498C4.62 12.7798 4.97996 13.1098 5.35996 13.4498C4.16471 13.3478 3.00194 13.0078 1.93998 12.4498C1.73998 12.3198 1.62996 12.3998 1.60996 12.6298C1.60205 12.9643 1.62212 13.2988 1.66996 13.6298C1.87961 15.2241 2.50843 16.7342 3.49223 18.0061C4.47602 19.278 5.77962 20.2662 7.27 20.8698C7.63215 21.0268 8.01139 21.1409 8.4 21.2098C7.29715 21.4319 6.16501 21.4691 5.04997 21.3198C4.80997 21.3198 4.70998 21.3898 4.80998 21.6298C6.27998 25.6298 9.46998 26.8399 11.81 27.5299C12.13 27.5799 12.45 27.5798 12.81 27.6598C12.81 27.6598 12.81 27.6598 12.75 27.7098C11.96 28.9198 9.21998 29.8198 7.93998 30.2598C5.60246 31.0941 3.1126 31.4147 0.639993 31.1999C0.249993 31.1399 0.159976 31.1399 0.0599757 31.1999C-0.0400243 31.2598 0.0599611 31.3598 0.169961 31.4598C0.669961 31.7898 1.16998 32.0798 1.68998 32.3598C3.23809 33.1914 4.87512 33.8456 6.56999 34.3098C15.35 36.7398 25.23 34.9598 31.82 28.4098C37 23.2698 38.82 16.1798 38.82 9.07984C38.82 8.79984 39.1499 8.64984 39.3399 8.49984C40.6537 7.48294 41.8125 6.28036 42.7799 4.92984C42.9291 4.73455 43.01 4.4956 43.01 4.24984C42.99 4.12984 42.98 4.15984 42.81 4.23984Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4771'%3E%3Crect width='42.99' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .twitter:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='36' viewBox='0 0 43 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(/themes/custom/essex/css/%2523clip0_140_4771)'%3E%3Cpath d='M42.81 4.23984C41.4193 4.83835 39.9573 5.25512 38.46 5.47985C39.16 5.35985 40.19 4.08984 40.6 3.57984C41.2443 2.8037 41.7332 1.9108 42.04 0.949849C42.04 0.879849 42.11 0.779848 42.04 0.729848C42.0042 0.712208 41.9648 0.703023 41.925 0.703023C41.8851 0.703023 41.8457 0.712208 41.81 0.729848C40.1842 1.61027 38.4538 2.28223 36.66 2.72985C36.5965 2.74772 36.5295 2.74783 36.466 2.7302C36.4025 2.71257 36.3451 2.67786 36.3 2.62984C36.1628 2.46446 36.0123 2.31062 35.85 2.16985C35.105 1.53289 34.2648 1.01661 33.36 0.639836C32.1459 0.149235 30.8363 -0.0593258 29.5299 0.029851C28.2601 0.10539 27.0202 0.446035 25.89 1.02985C24.7611 1.62347 23.7643 2.43992 22.96 3.42984C22.124 4.45205 21.5261 5.64768 21.21 6.92984C20.9405 8.1457 20.91 9.40233 21.12 10.6298C21.12 10.8398 21.12 10.8698 20.94 10.8398C13.86 9.83985 7.98996 7.24985 3.22996 1.83985C3.01996 1.60985 2.90997 1.60985 2.73997 1.83985C0.659968 4.96985 1.67 9.98985 4.27 12.4498C4.62 12.7798 4.97996 13.1098 5.35996 13.4498C4.16471 13.3478 3.00194 13.0078 1.93998 12.4498C1.73998 12.3198 1.62996 12.3998 1.60996 12.6298C1.60205 12.9643 1.62212 13.2988 1.66996 13.6298C1.87961 15.2241 2.50843 16.7342 3.49223 18.0061C4.47602 19.278 5.77962 20.2662 7.27 20.8698C7.63215 21.0268 8.01139 21.1409 8.4 21.2098C7.29715 21.4319 6.16501 21.4691 5.04997 21.3198C4.80997 21.3198 4.70998 21.3898 4.80998 21.6298C6.27998 25.6298 9.46998 26.8399 11.81 27.5299C12.13 27.5799 12.45 27.5798 12.81 27.6598C12.81 27.6598 12.81 27.6598 12.75 27.7098C11.96 28.9198 9.21998 29.8198 7.93998 30.2598C5.60246 31.0941 3.1126 31.4147 0.639993 31.1999C0.249993 31.1399 0.159976 31.1399 0.0599757 31.1999C-0.0400243 31.2598 0.0599611 31.3598 0.169961 31.4598C0.669961 31.7898 1.16998 32.0798 1.68998 32.3598C3.23809 33.1914 4.87512 33.8456 6.56999 34.3098C15.35 36.7398 25.23 34.9598 31.82 28.4098C37 23.2698 38.82 16.1798 38.82 9.07984C38.82 8.79984 39.1499 8.64984 39.3399 8.49984C40.6537 7.48294 41.8125 6.28036 42.7799 4.92984C42.9291 4.73455 43.01 4.4956 43.01 4.24984C42.99 4.12984 42.98 4.15984 42.81 4.23984Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4771'%3E%3Crect width='42.99' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .youtube {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="30"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="fill:white;"><path d="M35.95 9.2851C35.95 6.82254 35.1187 4.46085 33.639 2.71956C32.1594 0.978266 30.1526 0 28.06 0H7.88995C5.7974 0 3.79058 0.978266 2.31091 2.71956C0.831251 4.46085 0 6.82254 0 9.2851V20.3354C0 22.7979 0.831251 25.1596 2.31091 26.9009C3.79058 28.6422 5.7974 29.6205 7.88995 29.6205H28.06C30.1526 29.6205 32.1594 28.6422 33.639 26.9009C35.1187 25.1596 35.95 22.7979 35.95 20.3354V9.2851ZM24.09 15.6399L15.09 20.9003C14.73 21.1356 13.53 20.8297 13.53 20.3589V9.544C13.53 9.06151 14.74 8.75554 15.1 9.00268L23.7599 14.5455C24.0699 14.7808 24.45 15.4045 24.09 15.6399Z"/></g></g></svg>');
}

footer .menu--social-media .youtube:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="30"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="fill:black;"><path d="M35.95 9.2851C35.95 6.82254 35.1187 4.46085 33.639 2.71956C32.1594 0.978266 30.1526 0 28.06 0H7.88995C5.7974 0 3.79058 0.978266 2.31091 2.71956C0.831251 4.46085 0 6.82254 0 9.2851V20.3354C0 22.7979 0.831251 25.1596 2.31091 26.9009C3.79058 28.6422 5.7974 29.6205 7.88995 29.6205H28.06C30.1526 29.6205 32.1594 28.6422 33.639 26.9009C35.1187 25.1596 35.95 22.7979 35.95 20.3354V9.2851ZM24.09 15.6399L15.09 20.9003C14.73 21.1356 13.53 20.8297 13.53 20.3589V9.544C13.53 9.06151 14.74 8.75554 15.1 9.00268L23.7599 14.5455C24.0699 14.7808 24.45 15.4045 24.09 15.6399Z"/></g></g></svg>');
}
